:root {
  /* added root class for being able to change color variables etc quickly. */
  --bright-text-color: #02b3e4;
};

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}


h1 {
  /* original orange color in udacity example: #f5a623  */
  font-size: 40px;
  color: var(--bright-text-color);
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: var(--bright-text-color);
  ;
  display: none;
}

.orange {
  color: var(--bright-text-color);
  ;
}

.orange-text {
  color: var(--bright-text-color);
  ;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: rgb(230,230,230);
  padding-bottom: 10px;
  clear: both;
  border-radius: 10px;
}

#projects {
  background-color: rgb(250,250,250);
  border-radius: 10px;
}

.dark-gray {
  background-color: #4a4a4a;
}

#header {
  background-color: #484848;
  border-radius: 10px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

.left-align {
  position: absolute;
  right: 10px;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
  border-radius: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
  border-radius: 8px;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  };
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  };
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }

  .biopic {
    width: 150px;
  }

  .welcome-message {
    display: none;
  };
}

#map {
  display: block;
  height: 100%;
  margin: 0 0.05%;
  border-radius: 10px;
}

#mapDiv {
  /* disabled scrollable property in helper.js, preferable since embedded!*/
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  };
}

/*-------------NAV ARROW -------------*/
arrow {
  border: solid var(--bright-text-color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrowContainer {
  width: 0px;
  margin: 0 auto;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
